a{
  cursor: pointer;
}
.btn-space{
  margin-right: 15px!important;
}

.stuff-list{
  font-family: sans-serif;
  font-size: 22px;
  color: black;
  font-weight: 600;
}
.table-head{
  padding: 25px;
}
