<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Prison Management System</h1>
        <p class="lead text-muted">Dhaka Central Jail was the largest jail in Bangladesh, located in the old section of Dhaka, the country's capital. The jail has been used to house criminals as well as political prisoners, especially during the Language Movement of 1952, the 6 Point Movement, and the Bangladesh Liberation War.</p>
      </div>
    </div>
    <div class="row">
      <div class="">
        <p>
          <a routerLink="/stuffs" class="btn btn-primary my-2">Stuff</a>
          <a routerLink="/visitors" class="btn btn-secondary my-2">Visitors</a>
          <a routerLink="/inmates" class="btn btn-secondary my-2">Inmate</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="cardImage" src="../assets/p1.jpg" alt="">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="cardImage" src="../assets/p2.jpg" alt="">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img class="cardImage" src="../assets/p3.jpg" alt="">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="cardImage" src="../assets/p4.jpg" alt="">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="cardImage" src="../assets/p5.jpg" alt="">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
